.container {
    
}

h1 {
    color: white;
}

a {
    text-decoration: none;
}

.head {
    padding: 20px;
    background-color: #1baa09;
}

.btn-a {
    text-align: end;
}

.btn-a a {
    font-size: 20px;
    padding: auto 20px;
    margin-left: 10px;
}

thead{
    background-color: #014d05;
    color: white;
    text-align: center;
}

tbody>tr>td{
    text-align: center;
}

tbody>tr>td:nth-child(6){
    text-align: right;
}

tbody>tr>td:nth-child(7) a{
    border-color: rgb(155, 67, 238);
    color: rgb(155, 67, 238);
}

tbody>tr>td:nth-child(7) a:hover{
    background-color: rgb(155, 67, 238);
    color: aliceblue;
}

tbody>tr>td:nth-child(8) a{
    border-color: #198754;
    color: #198754;
}

tbody>tr>td:nth-child(8) a:hover{
    background-color: #198754;
    color: white;
}

tbody>tr>td:nth-child(9) a{
    border-color: rgb(199, 199, 14);
    color: rgb(199, 199, 14);
}

tbody>tr>td:nth-child(9) a:hover{
    background-color: rgb(199, 199, 14);
    color: white;
}

tbody>tr>td:nth-child(10) a{
    border-color: blue;
    color:  blue;
}

tbody>tr>td:nth-child(10) a:hover{
    background-color: blue;
    color:  white;
}

tbody>tr>td:nth-child(11) a{
    border-color:red;
    color: red;
}


tbody>tr>td:nth-child(11) a:hover{
    background-color:red;
    color: white;
}

.transfer-list>tbody>tr>td{
    text-align: center;
}