.container {
    
}

h1 {
    color: white;
}

a {
    text-decoration: none;
}

.head {
    padding: 20px;
    background-color: #1baa09;
}

.btn-a {
    text-align: end;
}

.btn-a a {
    font-size: 20px;
    padding: auto 20px;
    margin-left: 10px;
}

thead{
    background-color: #014d05;
    color: white;
    text-align: center;
}